<header>
    <div class="content-wrapper">
        <div class="float-left">
            <p class="site-title">
                <a href="~/">Netduino P1 Logging</a></p>
        </div>
    </div>
</header>
<div id="body">
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>Welcome to Netduino P1 Logging!</h1>
                <h2>Enter your api key to view the dashboard.</h2>
            </hgroup>            
        </div>
    </section>
    <section class="content-wrapper main-content clear-fix">
        <label for="apikey">Api Key:</label>
        <input id="txtapikey" name="apikey" type="text" />
        <input id="btnViewDashboard" type="button" value="View dashboard" />
    </section>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        ("#btnViewDashboard").click(function () {
            location.href = "/home/dashboard?key=" + $("#txtapikey").val();
        });
    });
</script>
