table {
    border-collapse: collapse;
    border-spacing: 0;
}

thead tr th {
    vertical-align: bottom;
    padding: 5px 5px 5px 0;
    font-size: 13px;    
}
thead tr th.first {    
    padding: 5px 5px 5px 5px;
}

thead tr.bottom {
    border-bottom: 1px solid #aaa;
}

thead tr.top th {
    text-align: center;    
}

thead tr.top th.border {
    border-bottom: 1px solid #aaa;
}

tbody td {
    font-size: 13px;
    padding: 3px;
}

tbody td.number {
    text-align: right;
}

tbody td.first {
    padding-left: 5px;
    font-weight: bold;
}

td.label {
    font-weight: bold;
}

tbody {
    border-bottom: 1px solid #aaa;
}

#hourlytable .usagetable {
    width: 440px;
}

.usagetable {
    margin: 0 auto;
}

#hourlychart, #dailychart, #weeklychart, #monthlychart {
    width: 100%;
}

table.usagetable tr.totalRow {
    border-top: 1px dashed #aaa;
    font-weight: bold;
}